링크: https://www.kaggle.com/c/spooky-author-identification#timeline

# 1. 소개

1. 종류: text classification

2. 문제 정의: horror story text를 보고 그것이 Edgar Allan Poe, Mary Shelley, HP Lovecraft 것인지 분류한다.

3. 평가: multi-class logarithmic loss

<img src="./image/evaluation.png">
    


4. 대회
    - Kernel
        - Upvote(가장 투표를 많이 받은 사람): 6명 
        - Theme(다음의 특정 주제를 다룬 커널): 4명
            - an R tutorial,
            - a Python tutorial,
            - creative feature engineering,
            - creative data visualization.
         
    - Discussion
        - Upvote(가장 투표를 많이 받은 사람): 5명

# 2. 데이터 예시

In [3]:
import os
import pandas as pd

In [4]:
base_path = '/Users/lifesailor/.kaggle/spooky'
train = pd.read_csv(os.path.join(base_path, 'train.csv'))

In [5]:
train.head()

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP
3  id27763  How lovely is spring As we looked from Windsor...    MWS
4  id12958  Finding nothing else, not even gold, the Super...    HPL